body
{
  font-family: Verdana, Arial, Helvetica, Geneva, sans-serif;
  font-size: 10pt;
  background-color: #f2ede6;;
  /*background-image: url(images/dottile.gif);  */
}

fieldset
{
border:none;
margin:0;
padding:0;
border:0;
}
#page
{
  width: 90%;
  height:600px;
  margin: 10px;
  background-color: white;
  -moz-border-radius: 20px;
}

#basic
{
margin:0px;
padding:0;
width:50%;

}

#advanced
{
position:absolute;

top:52px;
left:50%;
width:40%;
padding-top:32px;
}

table
{
-moz-outline:none;
}
table.legend_poll
{
float:top;
border:1px dotted black;
margin-top:10px;
}

table.legend_poll td.ok_if_needed
{ 
background-color: #F5DEB3;
width:50px;
}



table.legend_poll td.ok
{
background-color:#9f9;
width:50px;
}

#titre
{
	
	margin-bottom: 20px;
	margin-right:50px;
	margin-left:0px;
	width:33%;
}

h1.titre
{
	font-size: 80%;
	font-style: italic;
	margin:0px;
	padding: 0 5px;
	background: #1E52A1;
	color: #FFFFFF;
	text-align:left;
}

.rtop, .rbottom{
display:block
}
.rtop *, .rbottom *{display: block; height: 1px; overflow: hidden}
.r1{margin: 0 5px}
.r2{margin: 0 3px}
.r3{margin: 0 2px}
.r4{margin: 0 1px; height: 1px}

h1, h2
{
  color: #A8A29A;
  padding:0;
  margin:5px;
}
a
{
color:#574A36;
text-decoration:none;
}


h1
{
  text-align: center;
}

h2.step1
{
  /*background: url(images/stat_forum.gif) no-repeat top left;*/
  
  padding-left: 35px;
  vertical-align:center;
    width:60%;
  padding-top: 0px;
}

h2.step2
{
  background: url(images/stat_calendar.gif) no-repeat top left;
  padding-left: 35px;
  height: 32px;
  padding-top: 5px;
}

h2.thanks
{
  background: url(images/OK.png) no-repeat top left;
  padding-left: 35px;
  height: 32px;
  padding-top: 5px;
}

h3.dates-selected
{
  background: url(images/arrow.gif) no-repeat top left;
  padding-left: 25px;
  padding-top: 2px;
  font-size: 100%;
}

hr {
  height: 1px;
  border: 0;
  border-top: 1px dashed #CCCCCC;
  margin:0;
  padding:0;
}

.biglink
{
  font-weight: bold;
}

.meeting-table
{
  background-color: #c0c0c0;
  width: 100%;
  border-spacing: 1px;
}

.meeting-table th
{
  background-color: #E4E2DA;
  font-weight: normal;
}

.meeting-table td
{
  background-color: #F1F0EB;
}

.meeting-table td.column-code
{
  width: 90px;
  text-align: center;
}

.meeting-table td.column-action
{
  width: 200px;
  text-align: left;
}



/* BUTTONS */

.buttons
{
float:top;
clear: both;
}

.buttons a, .buttons button, .yui-button button{
    display:block;
    float:left;
    margin:0 7px 0 0;
    background-color:#f5f5f5;
    border:1px solid #dedede;
    border-top:1px solid #eee;
    border-left:1px solid #eee;

    font-family:"Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
    font-size:100%;
    line-height:130%;
    text-decoration:none;
    font-weight:bold;
    color:#565656;
    cursor:pointer;
    padding:5px 10px 6px 7px; /* Links */
}

.buttons button{
    width:auto;
    overflow:visible;
    float:top;
    padding:4px 10px 3px 7px; /* IE6 */
}
.buttons button[type]{
    padding:5px 10px 5px 7px; /* Firefox */
    line-height:17px; /* Safari */
}
*:first-child+html button[type]{
    padding:4px 10px 3px 7px; /* IE7 */
}
.buttons button img, .buttons a img{
    margin:0 3px -3px 0 !important;
    padding:0;
    border:none;
    width:16px;
    height:16px;
}
button:hover, .buttons a:hover{
    background-color:#dff4ff;
    border:1px solid #c2e1ef;
    color:#336699;
}
.buttons a:active{
    background-color:#6299c5;
    border:1px solid #6299c5;
    color:#fff;
}

.buttons button.next
{
  background-image: url(images/next.png);
  background-repeat: no-repeat;
  background-position: 10px center;
  padding-left: 25px;
}

input.cancel, input.next, input.save
{
 float:top;
  font-weight: bold;
  color: #565656;
  background-repeat: no-repeat;
  background-position: 5px center;
  padding: 5px 5px 5px 22px;
  background-color:#f5f5f5;
  border-color: #dedede;
  border-width: 1px;
  margin-top: 10px;
}

input.cancel
{
  background-image: url(images/cro200pxss.png);
}

input.next
{
  background-image: url(images/next.png);
}

input.save
{
  background-image: url(images/save.png);
}

input.cancel:hover, input.next:hover, input.save:hover
{
  background-color: #dff4ff;
  color: #336699;
}

/* INPUTS */

input.text, textarea 
{
  padding: 2px 3px;
  vertical-align: middle;
  border: 1px solid #C0BBB4;
}

input.text:hover, textarea:hover
{
  border: 1px solid #6BA4D7;
}

.calendar
{
  width: 300px;
  text-align: center;
  float: left;
}

.calendar table
{
  border-collapse: collapse;
  border: 1px solid grey;
}

.calendar table td, .calendar th
{
  border: 1px solid grey;
  width: 40px;
  text-align: center;
  font-weight: bold;
}

.calendar table td.nonexistent
{
  background-color: #F0F0F0;
}

.calendar table td.unavailable
{
  color: #C0C0C0;
}

.chosen-dates
{
  padding-left: 320px;
}

.poll-table tr th
{
  font-weight: normal;
}

.poll-table tr th.month
{
  background-color: #bbbbbb;
  border: 1px solid #888888;
}

.poll-table tr th.day
{
  background-color: #cccccc;
  border: 1px solid #999999;
}

.poll-table tr th.possibility
{
  background-color: #dddddd;
  border: 1px solid #aaaaaa;
  width: 50px;
}

.poll-table tr td
{
  text-align: center;
}

.poll-table tr.vote th
{
  background-color: #dddddd;
  border: 1px solid #aaaaaa;
}

.poll-table tr.vote td
{
  width: 50px;
}

.poll-table tr.vote td .label
{
  visibility: hidden;
  display: none;
}

.poll-table tr.vote th
{
  text-align: left;
}

.poll-table tr.vote th.authentified
{
  background-image: url(images/user_auth.gif);
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 20px;
}

.poll-table tr.vote td.ok
{
  border: 1px solid #6c6;
  background: #9f9 url(images/check_mark.gif) no-repeat center center;

}

.poll-table tr.vote td.not-ok
{
  border: 1px solid #c66;
  background-color: #f99;
}

.poll-table tr.vote td.ok-if-needed
{
  border: 1px solid #F4A460;
  background: #F5DEB3 url(images/check_mark_if_needed.gif) no-repeat center center;;
}

/* VOTEBOXES */

.poll-table tr.voteboxes td, .poll-table tr.voteboxes th
{
  background-color: #dddddd;
  border: 1px solid #aaaaaa;
}

.poll-table tr.voteboxes td.check_ok
{
background:#9f9;
}

.poll-table tr.voteboxes td.check_ok_if_needed
{
background:#F5DEB3;
}
.poll-table tr.voteboxes td.check_no
{
background:#ff9999;
}

.poll-table td.result_ok
{
font-weight:bold;
color:#72cc85;
}

.poll-table td.result_ok_if_needed
{
font-weight:bold;
color:#F5DEB3;
}

.poll-table tr.voteboxes td.checkall
{
background-color:white;
border:none;
}

.poll-table tr.voteboxes td.checkall a
{
color:blue;
text-decoration:underline;
}


/*

  BORDER-RIGHT: #c66 1px solid; BORDER-TOP: #c66 1px solid; FONT-SIZE: 80%; BORDER-LEFT: #c66 1px solid; BORDER-BOTTOM: #c66 1px solid; BACKGROUND-COLOR: #f99
}
TD.es {
    BORDER-RIGHT: #6c6 1px solid; BORDER-TOP: #6c6 1px solid; FONT-SIZE: 80%; BORDER-LEFT: #6c6 1px solid; BORDER-BOTTOM: #6c6 1px solid; BACKGROUND-COLOR: #9f9;
*/

.error
{
  color: red;
  font-weight: bold;
}

.warning
{
  color: orange;
  font-weight: bold;
  background-image: url(images/warning.png);
  background-repeat: no-repeat;
  background-position: top left;
  padding-left: 25px;
}

.help
{
  color: #9DBADF;
  font-weight: bold;
  background-image: url(images/help.png);
  background-repeat: no-repeat;
  background-position: top left;
  padding-left: 25px;
}

.edit-link
{
  background-image: url(images/edit.png);
  background-repeat: no-repeat;
  background-position: top left;
  padding-left: 20px;
}

.delete-link
{
  background-image: url(images/del.gif);
  background-repeat: no-repeat;
  background-position: top left;
  padding-left: 20px;
  display:block;
}

.add-link
{
  background-image: url(images/add.png);
  background-repeat: no-repeat;
  background-position: top left;
  padding-left: 20px;
  display:block;
}

.export-link
{
  background-image: url(images/export.png);
  background-repeat: no-repeat;
  background-position: top left;
  padding-left: 20px;
  display:block;
}

.close-link
{
  background-image: url(images/door.png);
  background-repeat: no-repeat;
  background-position: top left;
  padding-left: 20px;
  display:block;
}

.reopen-link
{
  background-image: url(images/door_open.png);
  background-repeat: no-repeat;
  background-position: top left;
  padding-left: 20px;
  display:block;
}


.footer
{

float:bottom;
height:15%;
width:100%;
text-align:center;
}
.footer img
{
border:0;
}
.footer a
{
text-decoration:none;
font-style:italic;
color:gray;
}

.option_panel { border:1px dotted black;padding:5px;margin:10px; }
.option_panel .hd { border:1px solid red;padding:5px; }
.option_panel .bd { border:1px solid green;padding:5px; }
.option_panel .ft { border:1px solid blue;padding:5px; }


.yui-dt-bd
{
width:300px;
height:500px;

}

.yuimenuitemlabel, .yuimenubaritemlabel

{
border-top-width: 1px;
border-right-width: 1px;
border-bottom-width: 1px;
border-left-width: 1px;
border-top-style: solid;
border-right-style: solid;
border-bottom-style: solid;
border-left-style: solid;
border-top-color: #808080;
border-right-color: #808080;
border-bottom-color: #808080;
border-left-color: #808080;
background-color: #ffffff;
text-align: left;
white-space: nowrap;
white-space: nowrap;
display: block;
padding-top: 0pt;
padding-right: 20px;
padding-bottom: 0pt;
padding-left: 20px;
color: #000000;
text-decoration: none;
cursor: default;
width:60px;
}

.yuimenubar ul, .yuimenu ul, .yuimenubar li, .yuimenu li, .yuimenu h6, .yuimenubar h6 

{
margin-top: 0pt;
margin-right: 0pt;
margin-bottom: 0pt;
margin-left: 0pt;
padding-top: 0pt;
padding-right: 0pt;
padding-bottom: 0pt;
padding-left: 0pt;

}

.yuimenu ul
{
padding-top: 3px;
padding-right: 0pt;
padding-bottom: 3px;
padding-left: 0pt;
border-top-width: 1px;
border-right-width: 0pt;
border-bottom-width: 0pt;
border-left-width: 0pt;
border-top-color: #cccccc;
border-right-color: #cccccc;
border-bottom-color: #cccccc;
border-left-color: #cccccc;
border-top-style: solid;
border-right-style: solid;
border-bottom-style: solid;
border-left-style: solid;
list-style:none;
}

.yuimenu ul.first-of-type 
{
border-top-width: 0pt;
border-right-width: 0pt;
border-bottom-width: 0pt;
border-left-width: 0pt;
}

.yui-dt-hd
{
display:none;}

.yui-dt-editor
{position: absolute;
z-index: 9000;
text-align: left;
background-color: #f2f2f2;
border-top-width: 1px;
border-right-width: 1px;
border-bottom-width: 1px;
border-left-width: 1px;
border-top-style: solid;
border-right-style: solid;
border-bottom-style: solid;
border-left-style: solid;
border-top-color: #808080;
border-right-color: #808080;
border-bottom-color: #808080;
border-left-color: #808080;
padding-top: 6px;
padding-right: 6px;
padding-bottom: 6px;
padding-left: 6px;
}

.yui-dt-editor .yui-dt-button button
{
background-attachment: scroll;
background-x-position: 0pt;
background-y-position: 0pt;
border-top-width: 1px;
border-right-width: 1px;
border-bottom-width: 1px;
border-left-width: 1px;
border-top-style: solid;
border-right-style: solid;
border-bottom-style: solid;
border-left-style: solid;
border-top-color: #999999;
border-right-color: #999999;
border-bottom-color: #999999;
border-left-color: #999999;
width: 4em;
height: 1.8em;
margin-left: 6px;

}

.yui-dt-editor .yui-dt-button button.yui-dt-default
{

background-attachment: scroll;
background-x-position: 0pt;
background-y-position: -1400px;
background-color: #5584e0;
border-top-width: 1px;
border-right-width: 1px;
border-bottom-width: 1px;
border-left-width: 1px;
border-top-style: solid;
border-right-style: solid;
border-bottom-style: solid;
border-left-style: solid;
border-top-color: #304369;
border-right-color: #304369;
border-bottom-color: #304369;
border-left-color: #304369;
color: #ffffff;
}

.yui-dt-editor .yui-dt-button button:hover
{
background-attachment: scroll;
background-x-position: 0pt;
background-y-position: -1300px;
color: #000000;
}

.yui-dt

{
overflow-x: hidden;
overflow-y: hidden;
width: 300px;
border:0px solid transparent;
text-decoration:none;
-moz-outline:none;
padding:0;

}

/* highlighting */
th.yui-dt-highlighted,
th.yui-dt-highlighted a {
    background-color:#B2D2FF; /* med blue hover */
}
tr.yui-dt-highlighted,
tr.yui-dt-highlighted td.yui-dt-asc,
tr.yui-dt-highlighted td.yui-dt-desc,
tr.yui-dt-even td.yui-dt-highlighted,
tr.yui-dt-odd td.yui-dt-highlighted {
    cursor:pointer;
    background-color:#B2D2FF; /* med blue hover */
}



.yui-dt tr.mark
{
border:1px solid #6ba4d7;
}




#emaillist
{
overflow-y:auto;
overflow-x:auto;
width:310px;
-moz-outline:none;
}

#myContainer
{
width:100px;
}

.yui-dt-col-0
{
color:blue;
}

.yui-dt tr.selected
{
color:red;
}

.yui-module
{
width:40%;
}