body {
font:13px arial,helvetica,clean,sans-serif;
font-size:small;
font-family:verdana;
background-color:#fff;
}

fieldset, img {
border : none ;
}

a {
text-decoration:none;
font-weight : bold ;
color : #525252 ;
}

li {
list-style-type:none ;
}

select ,
input,
textarea {
  padding: 0.4em;
  border-width: 1px;
  border-style: solid;
  border-color: #EDEBE6;
  background: #FBFAF8;
  -moz-border-radius:    4px;
  -webkit-border-radius: 4px;
  border-radius:         4px;
  border: 1px solid rgba(0,0,0,0.3);
  -moz-box-shadow:    inset 0 4px 4px rgba(0,0,0,0.05);
  -webkit-box-shadow: inset 0 4px 4px rgba(0,0,0,0.05);
}

#page {
float : left ;
  right: 0px;
  bottom: 0px;
  left: 0px;
/*  width:650px;*/
  width:95% ;
  height: 100%;
  margin: auto;
  border : 1px solid #B9B9B9 ;
  background-color : #F9F9F9 ;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  padding : 15px ;
/*margin-top : 50px ;*/
margin-left : 10px ;
}

#menu {
float : left ;
height: 100%;
width:80% ;
margin: auto;
margin-left : -10px ;
margin-bottom : 10px ;
padding : 5px ;
padding-left : 15px ;
padding-right : 15px ;
border : 1px solid #B9B9B9 ;
background-color : #F9F9F9 ;
font-weight : bold ;
-moz-border-radius: 7px;
-webkit-border-radius: 7px;
right: 0px;
bottom: 0px;
left: 0px;
}

#menu a {
margin-right : 20px ;
}

table#poll td.poll_month {
border : 1px solid grey ;
background-color : #c0c0c0 ;
}

table#poll td {
padding : 4px ;
padding-left : 10px ;
padding-right : 10px ;
text-align : center ;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
}

table#poll td.poll_td {
padding : 4px ;
text-align : center ;
background-color : #e5e5e5 ;
border : 1px solid grey ;
}

table.my_meetings { 
  border-collapse:collapse; 
/*  text-align : center ; */
  margin-bottom : 20px ;
}
    
table.my_meetings td {
/*  width : 160px ;*/                                                                                                 
  padding-left : 20px ;
  padding-right : 20px ;                                                                                              
}

table.my_meetings th {
/*  width : 160px ;*/
  padding-left : 20px ;
  padding-right : 20px ;
}       

table.my_meetings tbody tr {
}        

table.my_meetings tbody tr.odd {
  background-color : #e5e5e5 ;
} 
        
table.my_meetings thead th.first {
  -moz-border-radius-topleft : 5px; 
  -webkit-border-top-left-radius: 5px; 
  -moz-border-radius-bottomleft : 5px;                                                                                
  -webkit-border-bottom-left-radius: 5px;  
}       

table.my_meetings thead th.last {                                                                                       
  -moz-border-radius-topright : 5px;                                                                                  
  -webkit-border-top-right-radius: 5px; 
  -moz-border-radius-bottomright : 5px; 
  -webkit-border-bottom-right-radius: 5px;                                                                            
}

table.my_meetings thead th {
  background-color :  #1E52A1  ;
  color : white ;
  font-weight : normal ;
}

#legende {
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border : 1px solid grey ;
padding : 5px ;
margin-top : 30px ;
}

#legende .legend {
width : 50px ;
border : 1px solid  #200000 ;
}

#comment {
font-style : italic ;
border : 1px solid black ;
-moz-border-radius: 7px;
-webkit-border-radius: 7px;
padding : 5px ;
width : 200px ;
/* background : transparent url('../images/bottom_arrow.png') no-repeat ; */
background-color : #e5e5e5 ;
text-align : justify ;
}

#comment_form {
height:20px; 
}

#tips {
border : 3px double #b9b9b9 ;
width : 600px ;
text-align : justify ;
padding : 5px ;
margin-top : 10px ;
margin-bottom : 10px ;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
}

#tips a {
float : right ;
font-weight : normal ;
font-size : 0.8em ;
color : #5477CA ;
}

#logo {
float : left ;
width : 200px ;
height : 125px ;
margin-top : -20px ;
margin-left : -20px ;
margin-bottom : -20px ;
}

#mail_help {
font-style : italic ;
display: none ;
position : absolute ;
border : 1px solid #B9B9B9 ;
background-color : white ;
-moz-border-radius: 7px;
-webkit-border-radius: 7px;
padding : 3px ;
width : 300px ;
text-align : justify ;
}

#m_search {
background: transparent url('/images/search.png') no-repeat 0px 0px;  
color: #777;
width: 525px;
margin-bottom : 20px ;
margin-left : 20px ;
}

.search {
font-size: 1.5em;
height: 33px;
padding: 7px 50px 0px;
}

.contextMenu {
  display : none ;
}

.not_ok {
background-color : #B04949 ;
border : 1px solid grey ;
}

.if_needed {
background-color : #ff8000 ;
opacity : 0.6 ;
border : 1px solid grey ;
}

.ok {
background-color : #56A958 ;
border : 1px solid grey ;
}

.mail_error {
color : #b00000 ;
font-weight : bold ;
font-size : 0.8em ;
}

.mail_icon {
margin-bottom : -4px ;
}

.icon_16 {
margin-bottom : -2px ;
}

.icon_32 {
  margin-bottom : -8px ;
}

.mini_help {
  font-size : 0.8em ;
  font-style : italic ;
}

.ui-datepicker-trigger {
margin-bottom : -4px ;
}

.error_list {
  color : #800000;
  padding:0 ;
}

.flash_error {
  color : #800000;
  padding : 10px ;
  margin-top : 10px ;                                                                                                 
}     
      
.flash_notice {
  color : #207820;                                                                                                    
  padding : 10px ;                                                                                                    
  margin-top : 10px ;                                                                                                 
}   

.awesome,
.awesome:visited {
  background: #222;
  display: inline-block; 
  padding: 5px 10px 6px; 
  color: #fff; 
  text-decoration: none;
  -moz-border-radius: 5px; 
  -webkit-border-radius: 5px;
  text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
  border-bottom: 1px solid rgba(0,0,0,0.25);
  position: relative;
  cursor: pointer;
  font-size: 13px;
  font-weight: bold;
  line-height: 1;
  text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
  -moz-box-shadow:    inset 0 20px 20px rgba(255,255,255,0.3);
  -webkit-box-shadow: inset 0 20px 20px rgba(255,255,255,0.3);
}
.awesome:hover { background-color: #111; color: #fff;text-shadow: 0 -1px 1px rgba(0,0,0,0.4);}
.awesome:active { top: 1px; }
 
.blue.awesome, .blue.awesome:visited { background-color: #1E52A1; }
.blue.awesome:hover                  { background-color: #376EBF; }
.awesome.large {
  padding: 6px 20px 6px 20px;
}
