body {
font:13px arial,helvetica,clean,sans-serif;
font-size:small;
font-family:verdana;
background-color:#fff;
}

fieldset, img {
border : none ;
}

a {
text-decoration:none;
font-weight : bold ;
color : #525252 ;
}

li {
list-style-type:none ;
}

select ,
input,
textarea {
  padding: 0.4em;
  border-width: 1px;
  border-style: solid;
  border-color: #EDEBE6;
  background: #FBFAF8;
  -moz-border-radius:    4px;
  -webkit-border-radius: 4px;
  border: 1px solid rgba(0,0,0,0.3);
  -moz-box-shadow:    inset 0 4px 4px rgba(0,0,0,0.05);
  -webkit-box-shadow: inset 0 4px 4px rgba(0,0,0,0.05);
}

#page {
float : left ;
right: 0px;
bottom: 0px;
left: 0px;
/*  width:650px;*/
width:95% ;
height: 100%;
margin: auto;
border : 1px solid #B9B9B9 ;
background-color : #F9F9F9 ;
-moz-border-radius: 7px;
-webkit-border-radius: 7px;
padding : 15px ;
/*margin-top : 50px ;*/
margin-left : 10px ;
}

#menu {
float : left ;
height: 100%;
width:80% ;
margin: auto;
margin-left : -10px ;
margin-bottom : 10px ;
padding : 5px ;
padding-left : 15px ;
padding-right : 15px ;
border : 1px solid #B9B9B9 ;
background-color : #F9F9F9 ;
font-weight : bold ;
-moz-border-radius: 7px;
-webkit-border-radius: 7px;
right: 0px;
bottom: 0px;
left: 0px;
}

#menu a {
margin-right : 20px ;
}

#user_infos {
position : relative ;  
border : 1px solid #B9B9B9 ;
background-color : #F9F9F9 ;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
padding : 5px ;
/*margin-top : 50px ;*/
margin-left : 10px ;
margin-top : 10px ;
float: left ;
letter-spacing : -1px ;
color : #686868 ;
padding-bottom : 7px ;
-moz-box-shadow:    inset 0 -4px 4px rgba(0,0,0,0.05);
-webkit-box-shadow: inset 0 -4px 4px rgba(0,0,0,0.05);
}

#user_infos img {
margin-left : 3px ;
margin-bottom : -4px ;
border-left : 1px solid #d8d8d8 ;
padding-left : 5px ;
}


#new_meet th {
width : 250px ;
}

table#poll td.poll_month {
border : 1px solid grey ;
background-color : #c0c0c0 ;
}

table#poll td {
padding : 4px ;
padding-left : 10px ;
padding-right : 10px ;
text-align : center ;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
}

table#poll td.poll_td {
padding : 4px ;
text-align : center ;
background-color : #e5e5e5 ;
border : 1px solid grey ;
}

ul.my_meetings { 
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border : 1px solid #d5d5d5 ; 
/*  text-align : center ; */
padding : 0px ;
margin : 0px ;          
list-style: none ;
float : left ;
width : 700px ;        
letter-spacing : -1px ;
}

ul.my_meetings li {
min-height : 55px ;  
}

ul.my_meetings hr {
display : none ;
}

ul.my_meetings li .meeting_delete_expires {
float : right ;
padding : 10px ;
text-align : right ;
}

ul.my_meetings li.odd {
  background-color : #ededed ;
} 

ul.my_meetings li:hover {
  background-color : #FFFDDE ;
}

ul.my_meetings li .meeting_name {
padding-top : 10px;
margin-left : 15px ;
font-size : 1.4em ;
}

ul.my_meetings li .actions_container {
  margin-top : 30px ;
}

ul.my_meetings li .meeting_name {
color : #3337A1 ;
font-weight: bold ;        
text-shadow: 1px 1px 1px #efefef;
}

ul.my_meetings li .meeting_code_div {
display : none ;
padding-top : 10px;
margin-left : 15px ;
font-size : 1.4em ;
}

ul.my_meetings li .meeting_code_div a {
font-weight : normal ;  
color : #686868 ;
}

ul.my_meetings li .meeting_code {
font-weight : bold ;
color : black ;
}

hr { width: 95%; margin-top: 2em; height:1px;border-width:0;background-color:#d8d8d8; }

ul.my_meetings .actions {
width : 95% ;  
margin-top : 30px ;        
margin-left : 10px ;
padding-bottom : 5px ;
padding-left : 10px ;  
border-top : 1px solid #d8d8d8 ;
padding-top : 5px ;
display: none ;
}

ul.my_meetings .actions li {
display : inline ;
}

ul.my_meetings .actions_container {
display : none ;
}

ul.my_meetings li .actions a {
padding-left : 10px ;  
padding-right : 10px ;  
border-left : 1px solid #d8d8d8 ;
}

ul.my_meetings li .actions a.no_border {
border : none ;
}

#legende {
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border : 1px solid grey ;
padding : 5px ;
margin-top : 30px ;
}

#legende .legend {
width : 50px ;
border : 1px solid  #200000 ;
}

#comment {
font-style : italic ;
border : 1px solid black ;
-moz-border-radius: 7px;
-webkit-border-radius: 7px;
padding : 5px ;
width : 200px ;
/* background : transparent url('../images/bottom_arrow.png') no-repeat ; */
background-color : #e5e5e5 ;
text-align : justify ;
}

#comment_form {
height:20px; 
}

#tips {
border : 3px double #b9b9b9 ;
width : 600px ;
text-align : justify ;
padding : 5px ;
margin-top : 10px ;
margin-bottom : 10px ;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
}

#tips a {
float : right ;
font-weight : normal ;
font-size : 0.8em ;
color : #5477CA ;
}

#logo {
float : left ;
width : 200px ;
height : 125px ;
margin-top : -20px ;
margin-left : -20px ;
margin-bottom : -20px ;
}

#mail_help {
font-style : italic ;
display: none ;
position : absolute ;
border : 1px solid #B9B9B9 ;
background-color : white ;
-moz-border-radius: 7px;
-webkit-border-radius: 7px;
padding : 3px ;
width : 300px ;
text-align : justify ;
}

#meet_disc_box {
position : absolute ;
top : 10px ;
left : 200px ;      
}

#url_meet_disc {
color: #777;
font-size: 1.5em;
letter-spacing: -0.1em ;
margin-bottom : 7px ;
margin-left : -10px ;
text-shadow: 1px 1px 1px #ddd ;
}

#meet_disc_box input {
font-size : 1.4em ;  
}

#m_search {
background: transparent url('/images/search.png') no-repeat 0px 0px;  
color: #777;
width: 525px;
margin-bottom : 20px ;
margin-left : 20px ;
}

.error_name {
border : 4px solid #a00000;
}

.search {
font-size: 1.5em;
height: 33px;
padding: 7px 50px 0px;
}

.url_meet {
color: #777;
width: 450px;
padding : 7px 30px 0px ;       
}

.comment_present {
background : url('/images/19.png') no-repeat ;
}

.contextMenu {
  display : none ;
}

.not_ok {
background-color : #B04949 ;
border : 1px solid grey ;
}

.if_needed {
background-color : #ff8000 ;
opacity : 0.6 ;
border : 1px solid grey ;
}

.ok {
background-color : #56A958 ;
border : 1px solid grey ;
}

.mail_error {
color : #b00000 ;
font-weight : bold ;
font-size : 0.8em ;
}

.mail_icon {
margin-bottom : -4px ;
}

.icon_16 {
margin-bottom : -2px ;
}

.icon_32 {
  margin-bottom : -8px ;
}

.em {
font-weight : normal ;
font-style : italic ;
}

.mini_help {
  font-size : 0.8em ;
  font-style : italic ;
}

.ui-datepicker-trigger {
margin-bottom : -4px ;
}

.error_list {
  color : #800000;
  padding:0 ;
}

.flash_error {
  color : #800000;
  padding : 10px ;
  margin-top : 10px ;                                                                                                 
}     
      
.flash_notice {
  color : #207820;                                                                                                    
  padding : 10px ;                                                                                                    
  margin-top : 10px ;                                                                                                 
}   

.user_icon {
  margin-bottom : -4px ;
  margin-right : 3px ;
}


.awesome,
.awesome:visited {
  background: #222;
  display: inline-block; 
  padding: 5px 10px 6px; 
  color: #fff; 
  text-decoration: none;
  -moz-border-radius: 5px; 
  -webkit-border-radius: 5px;
  text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
  border-bottom: 1px solid rgba(0,0,0,0.25);
  position: relative;
  cursor: pointer;
  font-size: 13px;
  font-weight: bold;
  line-height: 1;
  text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
  -moz-box-shadow:    inset 0 20px 20px rgba(255,255,255,0.3);
  -webkit-box-shadow: inset 0 20px 20px rgba(255,255,255,0.3);
}
.awesome:hover { background-color: #111; color: #fff;text-shadow: 0 -1px 1px rgba(0,0,0,0.4);}
.awesome:active { top: 1px; }
 
.blue.awesome, .blue.awesome:visited { background-color: #1E52A1; }
.blue.awesome:hover                  { background-color: #376EBF; }
.awesome.large {
  padding: 6px 20px 6px 20px;
}

/*---------- bubble tooltip -----------*/
td.tt{
    position:relative;
    z-index:24;
    color:#3CA3FF;
  font-weight:bold;
    text-decoration:none;
}
td.tt span{ display: none; }

/*background:; ie hack, something must be changed in a for ie to execute it*/
td.tt:hover { z-index:25; color: #aaaaff; }
td.tt:hover span.tooltip{
    display:block;
    position:absolute;
margin-top : 12px ;
/*    top:0px; left:0; */
  padding: 15px 0 0 0;
  width:200px;
  color: #993300;
    text-align: center;
  filter: alpha(opacity:90);
  KHTMLOpacity: 0.90;
  MozOpacity: 0.90;
  opacity: 0.90;
}
td.tt:hover span.top{
  display: block;
  padding: 30px 8px 0;
    background: url(/images/bubble.gif) no-repeat top;
}
td.tt:hover span.middle{ /* different middle bg for stretch */
  display: block;
  padding: 0 8px; 
  background: url(/images/bubble_filler.gif) repeat bottom; 
}
td.tt:hover span.bottom{
  display: block;
  padding:3px 8px 10px;
  color: #548912;
    background: url(/images/bubble.gif) no-repeat bottom;
}
